<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pathfinding Algorithm</title>
  <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
  <!-- <script src="script.js" charset="utf-8"></script> -->
  <script src="scripts/astar.js" charset="utf-8"></script>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="container">

    <div class="node start" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node" data-status="true"></div>
    <div class="node end" data-status="true"></div>
  </div>
  <button type="button" class="run">Run</button>
  <button type="button" class="reset">Reset</button>
</body>

</html>
